appdirs==1.4.3
blessings==1.6
bpython==0.16
click==6.7
curtsies==0.2.11
Flask==0.12.1
greenlet==0.4.12
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
olefile==0.44
packaging==16.8
peewee==2.9.2
Pillow==4.1.0
Pygments==2.2.0
pyparsing==2.2.0
requests==2.13.0
six==1.10.0
wcwidth==0.1.7
Werkzeug==0.12.1
